# general exclusions
.DS_Store

# exclude changes to root directory
*
/.*/

# Explicit inclusions
!*/
!/.github/**
!/.vscode/**
!/flybywire/
!/flybywire/**

!.editorconfig
!.eslintrc
!.gitattributes
!.gitignore
!.npmrc
!.prettierignore
!.prettierrc.json

!igniter.config.mjs
!jsconfig.json

!Cargo.lock
!Cargo.toml
!/.cargo/config.toml
!rust-toolchain.toml

!qbt-321xlr/src/base/manifest-base.json
!package.json

!jest.config.js
!/jest/**

!CMakeLists.txt

# Projecy specific inclusions

/qbt-common/*
!/qbt-common/src/
!/qbt-common/src/**

/qbt-321xlr/*
/qbt-321xlr/.env.local
!/qbt-321xlr/README.md
!/qbt-321xlr/mach.config.js
!/qbt-321xlr/.env
!/qbt-321xlr/docs/
!/qbt-321xlr/docs/**
!/qbt-321xlr/src/
!/qbt-321xlr/src/**

/qbt-321xlr/out
/qbt-321xlr/src/base/qbitsim-aircraft-a321-253/SimObjects/Airplanes/A321_XLR/model/*.bin
/qbt-321xlr/src/base/qbitsim-aircraft-a321-253/SimObjects/Airplanes/A321_XLR/model/*.gltf
/qbt-321xlr/src/systems/instruments/aceBundles
/qbt-321xlr/src/systems/instruments/buildSrc/custom/*
/qbt-321xlr/src/model/a321_fuse/*

!/scripts/**

!/build-utils.js

/src/

# explicit exclusions
/.env
node_modules/
obj/
target/
*.tgz   
*.wasm
**/build-common/
/build-321xlr/
/build-common/
.pnpm-store/
.rollup.cache/
.vscode/
/build-321xlr/
/build-common/
.pnpm-store/
.rollup.cache/
.vscode/
scripts/.old